@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');


*{
    padding: 0; 
    margin: 0;
}

body
{
    background-color: antiquewhite;
    font-family: 'Akshar', sans-serif;
}

header nav ul li, footer ul li
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 3vw 0% 0% 3vw;
}


header, footer
{
    min-width: 290px;
    min-height: 50px;
    max-width: 100%;
    max-height: 100%;
    text-align:center;
    background-color: #744775;
    margin: 0%;
    padding: 0%;
    
}

nav ul :hover
{
    transform: scale(1.2);
    color:rgb(248, 3, 3);
    transition-property: all;
    transition-duration: 0.7s;
    cursor: pointer;
}

footer ul li a img:hover
{
    transform: scale(2);
    box-shadow: 5px 5px 30px 1px #560bad;
    border-radius: 450px;
}

@media (min-width:768px)
{
    header ul
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        font-size: 20px;
    }
    p
    {
        font-size: 20px;
    }
}
main
{
    min-width: 290px;
    min-height: 50px;
}

#redes ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#vLogo
{
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;
}

.mainHome section figure
{
    width: 75vw;
    max-width:1000px;
    margin:auto;
    
}

#codeImagen
{
    width: 100%;
    border:5px solid #560bad;
    border-radius: 450px;
    box-shadow: 5px 5px 30px 1px #560bad;
    margin: 20vh 0 20vh 0;
}

.mainHome h1
{
    position: relative;
    top: 20px;
    margin: 20vw 10vw 10vw 4vw;
}

.noLinea
{
    text-decoration: none;
}
.aboutMe
{
    display: grid;
    grid-template-columns: 1fr;
}
.aboutMe div
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.aboutMe h1, .aboutSkills h2, .aboutHistoria h2
{
    font-family: 'Koulen', cursive;  

}
.aboutMe figure
{
    text-align: center;
    padding-bottom: 10vh;
    margin-bottom:10vh;
}

.aboutMe figure img
{  
    width: 50%;    
    height: 50%;    
    border:5px solid #560bad;    
    border-radius: 450px;  
    box-shadow: 5px 5px 30px 1px #560bad;    
    margin: 0;
}

.aboutMe div article:hover, .aboutMe figure:hover
{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1s;
}

.personalBlog
{
    text-align: center;
}

.personalBlog h1
{
    font-family: 'Koulen', cursive;   
}

.dieciseis p, .quince p, .diecisiete p
{
    width:70vw;
    border: 5px solid #e80101;
    border-radius: 10px;
    background-color: #e80101;
    background-size: cover;
}


.dieciseis p:hover, .quince p:hover, .diecisiete p:hover
{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1s;
}
.videoBlog iframe 
{
    border: 5px solid #e80101;
    border-radius: 10px;
    background-color: #e80101;
    background-size: cover;
    position: relative;
}

.videoBlog h3
{
    font-family: 'Koulen', cursive;  
    border-radius: 10px;
    background-size: cover;
    position: relative;
}

.aboutMe h1,.aboutSkills h2
{
    font-family: 'Koulen', cursive;  
    position: relative;
}


.personalBlog h1
{
    font-family: 'Koulen', cursive;
    position: relative;
}

.dieciseis p, .quince p, .diecisiete p
{
    border: 5px solid #e80101;
    border-radius: 10px;
    background-color: #e80101;
    background-size: cover;
}

.videoBlog
{
    text-align: center;
}


.videoBlog iframe 
{
    max-width: 90vw;
    max-height: 100vh;
    border: 5px solid #e80101;
    border-radius: 10px;
    background-color: #e80101;
    background-size: cover;
}

.videoBlog h3
{
    font-family: 'Koulen', cursive;  
    border-radius: 10px;
    background-size: cover;
}

.proyect div
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width:310px)
{
    .proyect div
    {
    display: grid;
    grid-template-columns: repeat(2,1fr);

    }
}
.proyect h1
{
    font-family: 'Koulen', cursive;   
    position: relative;
}



.pExperiencias h2, .pFuturo h2, .pPasado h2
{
    font-family: 'Koulen', cursive;
}

.pExperiencias p, .pFuturo p, .pPasado p
{

    border: 5px solid #e80101;
    text-align: center;
    border-radius: 10px;
    background-color: #e80101;
    background-size: cover;
}

.imagenRam img
{
    max-width: 30vh;
    min-height: 20vh;
    border:5px solid #560bad;
    border-radius: 10px;
    box-shadow: 5px 5px 30px 1px #560bad;
    margin: 10vh 0 10vh 0;
}



#sebaImagen
{
    max-width: 30vw;
    min-height: 30vh;
    border:5px solid #560bad;
    border-radius: 10px;
    box-shadow: 5px 5px 30px 1px #560bad;
    margin:0;

}

.contacto article
{
    text-align:center;
    padding: 0;
    margin: 1px;
    border-radius: 5px;
    border-top:3px solid #e80101;
    box-shadow: 2px 4px 13px 1px #e80101;
}

.contacto
{
    text-align:center;
    border-radius: 5px;
    border:3px solid #e80101;
    box-shadow: 2px 4px 13px 1px #e80101;
}